{% extends 'template.html' %}
{% load static %}

{% block content %}
    <p><br></p>
<div class="container shadow-lg about">
<br>
<img src="{% static 'img/programmers-concept-with-flat-design_23-2147841208.jpg' %}" alt='about appaweb' align='left' class="paddingRight" >
<br>
<p >
    <br>
   <h1> شرکت آپاوب</h1>
    <br>
   شرکت آپاوب در سال 98 کار خود را آغاز کرده است. هدف از ایجاد این شرکت آموزش زبان های برنامه نویسی به صورت تمرین محور و به ساده ترین شکل برای دوستانی است که هیچگونه اطلاعاتی در زمینه برنامه نویسی ندارند و میخواهند برنامه نویسی را از صفر مطلق آغاز کرده و از طریق آن وارد محیط کاری شوند و از این طریق کسب درآمد کنند.
 <br>
<h1>خدمات</h1>
   <br>
   موسسان این شرکت با تشکیل گروهی از مدرسان مجرب و مورد تایید فنی حرفه ای سعی بر ایجاد آموزش هایی دقیق و با کیفیت برای دانشجویان عزیزداشته اند. همچنین برای اطمینان بیشتر از خرید خود، در صورت عدم رضایت تا 14 روز پس از خرید می توانید اقدام به دریافت وجه خود نمایید. برای آموزش های مجازی دریافت وجه به صورت کامل و برای پکیج های آموزشی 70% از وجه به شما بازگردانده خواهد شد.
    <br>
    علاوه بر آموزش برنامه نویسی، شما می توانید به راحتی سفارش سایت و یا اپلیکیشن خود را به ما بسپارید و با عقد قرارداد از طریق وکیل، پروژه خود را به طور دقیق و با پشتیبانی فنی رایگان یک ساله از ما دریافت کنید.
    </p>
<br>
</div>
    <p><br></p>
{% endblock %}